[submodule "Hub"]
	path = ./Blueprints/Hub
	url = https://github.com/fat-rooster/Hub
[submodule "Login"]
	path =  ./Blueprints/Login
	url = https://github.com/fat-rooster/Login
[submodule "ToDo"]
	path =  ./Blueprints/ToDo
	url = https://github.com/fat-rooster/ToDo
[submodule "Diary"]
	path =  ./Blueprints/Diary
	url = https://github.com/fat-rooster/Diary